.content-container {
  background-color: #FFFFFF;
  padding: 30px;
  margin: 30px 0;
}

.image-container {
  margin-top: 30px;

  #myImageCarousel {
    height: 500px;
  }
}

.avatar {
  border-radius: 100px;
  width: 30%;
  overflow: hidden;
}
